aerospike==4.0.0
atomicwrites==1.4.0
attrs==20.2.0
avro
backports.functools-lru-cache==1.6.1
backports.ssl-match-hostname==3.7.0.1
cached-property==1.5.2
cassandra-driver==3.24.0
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
click==7.1.2
configparser==4.0.2
confluent-kafka==1.5.0
contextlib2==0.6.0.post1
cryptography==3.4.7
dict2xml==1.7.0
dicttoxml==1.7.4
docker==3.7.3
docker-compose==1.22.0
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
enum34==1.1.10
funcsigs==1.0.2
future==0.18.2
geomet==0.2.1.post1
grpcio==1.37.0
grpcio-tools==1.33.2
idna==2.6
importlib-metadata==2.0.0
iniconfig==1.1.1
ipaddress==1.0.23
jsonschema==2.6.0
kafka-python==2.0.2
kazoo==2.8.0
minio==6.0.0
more-itertools==5.0.0
packaging==20.4
pathlib2==2.3.5
pika==1.1.0
pluggy==0.13.1
protobuf==3.13.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
py==1.9.0
pycparser==2.20
pykerberos==1.2.1
pymongo==3.11.0
PyMySQL==0.10.1
pyparsing==2.4.7
pytest==6.2.3
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-timeout==1.4.2
python-dateutil==2.8.1
pytz==2020.1
PyYAML==3.13
redis==3.5.3
requests==2.18.4
requests-kerberos==0.12.0
scandir==1.10.0
six==1.15.0
texttable==0.9.1
toml==0.10.2
tzlocal==2.1
urllib3==1.22
wcwidth==0.2.5
websocket-client==0.57.0
zipp==1.2.0
